/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap'); */

/* body{
    font-family: 'Libre Baskerville', serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Libre+Baskerville&display=swap');

body{
    font-family: 'Cabin', sans-serif;
font-family: 'Libre Baskerville', serif;
}

/* containers */

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width:600px;
    margin: auto;
   
}



