/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap'); */

/* body{
    font-family: 'Libre Baskerville', serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Libre+Baskerville&display=swap');

/* root element */

:root{
    --primary-color: #6D28D9;
    --dark-gray: #A78BFA;
    --off-white: #F5F3FF; 
    --gray: #6366F1;
}

body{
    font-family: 'Cabin', sans-serif;
font-family: 'Libre Baskerville', serif;
margin: 0px;
}

/* spaces */

.space{
    padding: 2rem;
    padding-top: 0rem;
    padding-bottom: 2.5rem;
}

/* containers */

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width:600px;
    margin: auto;
   }

/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color); 
}

/* break hr */

hr{
    margin: 2rem 0rem;
}

/* lists */

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0.5rem;
}

/* navigation */

.navigation{
    background-color: var(--primary-color);
    color:white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link{
    color:white;
}

.navigation .nav-pill{
    text-align: right;
}

.navigation .nav-name{
    font-weight: bold;
    font-size: 1.05rem;
}

.navigation .link-active{
    font-weight: bold;
}

/* header */

.her{
    padding: 2rem;
    padding-top: 5rem;
}

.her .her-img{
    max-width: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.her .her-heading{
    text-align: center;
    color: var(--dark-gray);
    padding-top: 1rem;
}

/* blog  */

.blog .blog-img{
    max-width: 300px;
    display: block;
    margin: auto;
}

.blog .her-heading{
    text-align: center;
    /* color: var(--dark-gray); */
    /* padding: 0rem; */
}
.section1{
    padding: 1rem;
}


/* .her .her-heading .heading-change{
    color: var(--primary-color);
} */

/* section */

.section{
    padding: 2rem;
}

.section h2{
    text-align: center;
    
}

.ow{
    background-color: var(--off-white);
}

/* footer */

.footer{
    background-color: var(--gray);
    padding: 2rem;
    text-align: center;
    color:white;
    border-top-right-radius: 1rem;
    margin-top: 0.5rem;
} 

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer .link{
    color:white;
}

.footer ul{
    padding-inline-start:0px;
}







